:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    font-family: Arial, sans-serif;
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 30vw;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%,20%);
}

.container {
    width: 800px;
    height: 300px;
    max-width: 650px;
    margin: 50px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px;
}

.btn {
    --hue: var(--hue-neutral);
    padding: 10px 20px;
    border: 1px solid hsl(var(--hue), 100%,30%);
    background-color: hsl(var(--hue), 100%,50%);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.start-btn,
.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    cursor:pointer;
}

.start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.next-btn {
    background-color: #28a745;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.score {
    position: absolute;
    margin: 40px 0 0 270px;
    font-weight: bold;
}

.btn.correct {
    background-color: #28a745; /* Green color for correct answers */
    color: #fff;
}

.btn.wrong {
    background-color: #dc3545; /* Red color for wrong answers */
    color: #fff;
}

#start-btn {
    margin: 0;
    position: absolute;
    top: 50%;
    margin-left: 280px;
}

h1, p {
    position: relative;
    margin-left: 348px;
    font-weight: bolder;
}
#next-btn{
    margin: 0;
    position: absolute;
    top: 60%;
    margin-left: 280px;
}